.container{
    margin: 0 auto;
    text-align: center;
}
.score{
    margin: 0 auto;
    text-align: center;
    
}

footer {
    font-family: "Arial";
    font-size: 10px;
    color: black;
    position: fixed;
    bottom: 5px;
}
.button {
    background-color:white;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    image-resolution: 16x16;
  }
#resetBtn {
    background-color: grey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    image-resolution: 16x16;
}